*{
    padding: 0;
    margin: 0;
}

:root{
    --color-letras: midnightblue;
    --color-fondo: khaki;
    --color-fondo-secundario: rgb(214, 203, 104);
    --color-fondo-main: rgb(255, 255, 255);
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo-main);
    color: var(--color-letras);
}

body.modo-oscuro{
    --color-letras: #c4c7c5;
    --color-fondo: #131314;
    --color-fondo-secundario: #6c9c7d;
    --color-fondo-main: #1e1f20;
}

/* =========================================
                    HEADER
   ========================================= */
nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo);
    color: var(--color-letras);
}

.menu-izquierda ul{
    display: flex;
}

#nav-porcentaje{
    background-color: var(--color-fondo-secundario);
}

#nav-porcentaje:active{
    background-color: var(--color-fondo-secundario);
}

#nav-tareas:active{
    background-color: var(--color-fondo-secundario);
}

.menu-izquierda ul li{
    list-style-type: none;
    padding: 1rem 3rem;
    font-size: x-large;
    font-weight: 600;
}

.menu-derecha{
    display: flex;
    align-items: center;
}

.menu-derecha ul{
    display: flex;
}

h1{
    padding: 1rem 0;
    font-size: x-large;
    font-style: italic;
}

.menu-derecha ul li{
    display: flex;
    margin-right: 2rem;
    margin-top: 0.1rem;
    list-style-type: none;
    font-size: medium;
    font-weight: 600;

    display: flex;
    align-items: center;
}

.menu-derecha ul li:hover{
    text-decoration: underline;
    cursor: context-menu;
}

/* ocultar el checkbox del modo (toggle) */
#toggle-modo{
    display: none;
}

#toggle-modo + label{ /* caja */
    display: inline-block;
    width: 60px;
    height: 25px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}


#toggle-modo + label::after { /* circulo */
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    
    top: 3px;
    left: 6px;
    
    transition: transform 0.3s, background-color 0.3s;
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#toggle-modo:checked + label {
    background-color: var(--color-letras);
}

#toggle-modo:checked + label::after { /* movimiento de perilla */
    transform: translateX(30px); 
    
    background-color: var(--color-fondo); 
}

/* =========================================
                    MAIN
   ========================================= */

main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* =========================================
                    PORCENTAJE
   ========================================= */

#main-porcentaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.porcentaje-inputs{
    display: flex;
    margin-bottom: 10rem;
}

.inputs-monto{
    display: flex;
    margin-right: 15rem;
    align-items: center;
}

.inputs-monto div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-monto .div-error,
.inputs-porcentaje .div-error {
    display: none; 
    height: 90%;
    width: 6rem;
    justify-content: flex-end;
    font-size: small;
}

.mensaje-error{
    background-color: lightpink;
    padding: 0.2rem;
}

.inputs-porcentaje{
    display: flex;
    align-items: center;
}

#main-porcentaje input{
    font-size: x-large;
    width: 10rem;
    border: none;
    border-bottom: 1px solid var(--color-letras);
    appearance: none;
    justify-content: center;
    margin-top: 1rem;
    background-color: var(--color-fondo-main);
    color: var(--color-letras);
}

.inputs-porcentaje div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.porcentaje-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.porcentaje-boton p{
    margin-bottom: 1rem;
}

.porcentaje-boton span{
    color: var(--color-letras);
    font-weight: 700;
}

.porcentaje-boton button{
    font-size: medium;
    font-weight: 600;
    padding: 0.6rem;
    background-color: var(--color-fondo-secundario);
    border-radius: 7px;
    width: 10rem;
}

.porcentaje-boton button:hover{
    background-color: #88b999;
}


/* =========================================
                    TAREAS
   ========================================= */
#main-tareas{
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 85vh;
    margin: 1rem;
}

#input-tarea{
    font-size: larger;
    width: 50rem;
    border: none;
    border-bottom: 1px solid var(--color-letras);
    appearance: none;
    background-color: var(--color-fondo-main);
    color: var(--color-letras);
}

#boton-agregar-tarea{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border-width: 1px;
    background-color: lightgreen;
    border-style: solid;
    border-color: cadetblue;
    transform: scale(1.7);
    margin-left: 1rem;
}

#boton-agregar-tarea:hover{
    transform: scale(1.8);
}

.lista-tareas{
    list-style-type: none;
    margin-top: 1.2rem;
}

.lista-tareas li{
    font-size: large;
    margin-bottom: 0.3rem;
}

.lista-tareas input[type="checkbox"]{
    margin-right: 8px;
    transform: scale(1.3)
}

.boton-eliminar{
    background: none;
    border: none;
    cursor: pointer;
    font-size: medium;
    margin-left: 0.2rem;
}

.boton-eliminar:hover{
    transform: scale(1.2);
}

/* cuando se tilde el checkbox busca a su hno .texto-tarea */
.check-tarea:checked ~ .texto-tarea{
    text-decoration: line-through;
    color: gray;
}

/* =========================================
            RESETEO DE INPUTS
   ========================================= */
/* Elimina las flechitas (spinners) en Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Elimina el borde azul (outline) cuando haces click adentro */
#main-porcentaje input:focus {
    outline: none;
}

/* Elimina el borde azul (outline) cuando haces click adentro */
#main-tareas input:focus {
    outline: none;
}